@import 'styles.css';

.auth-layout {
    @apply bg-xp-login w-full min-h-svh flex justify-center items-center gap-x-5;
}

.logo-box {
    @apply flex flex-col text-sm text-xp-text gap-y-2;
}

.logo-wrapper {
    @apply flex flex-col w-fit self-end;
}

.logo-brand {
    @apply flex w-full justify-start items-end gap-1;
}

.logo-brand span {
    @apply text-[9px];
}

.logo-footer {
    @apply flex w-full justify-between;
}

.logo-footer .system-name {
    @apply text-lg;
}

.logo-footer .version {
    @apply text-[12px] text-amber-600;
}

.line {
    @apply w-[2px] self-stretch bg-gradient-to-b from-transparent via-gray-300 to-transparent;
}

.auth-box {
    @apply relative flex p-2 justify-center items-center gap-2 bg-gradient-to-r from-xp-box via-xp-box/60 to-transparent rounded-l-2xl border-y border-l border-transparent w-full max-w-[300px];
}

.auth-box::before {
    content: "";
    @apply absolute inset-[-1px] pointer-events-none rounded-l-2xl p-[1px_0_1px_1px] bg-gradient-to-r from-white/50 via-white/25 to-transparent;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.user-avatar-container {
    @apply flex-initial w-1/4 border-2 border-gray-50/50 rounded-xl justify-center items-center;
}

.user-avatar-container svg {
    @apply fill-[var(--color-xp-text-muted)];
}

.router-container {
    @apply flex-initial w-3/4;
}