@import "tailwindcss";

@theme {
    --color-xp-login: #3A6EA5;
    --color-xp-blue: #0058EE;
    --color-xp-blue-dark: #0A246A;
    --color-xp-blue-light: #3A8DFF;
    --color-xp-box: #1E3D7C;
    --color-xp-text: #FFFFFF;
    --color-xp-text-muted: #C0C0C0;
    --color-xp-button: #C0D8F0;
    --color-xp-button-hover: #7BAEDC;
    --color-xp-button-ok: #0F9D58;
    --color-xp-button-ok-hover: #0B7A45;
    --color-xp-button-cancel: #1A2B5C;
    --color-xp-button-cancel-hover: #162A55;
}

@layer utilities {
    .text-outline {
        text-shadow:
            -1px -1px 0 #00000090,
            1px -1px 0 #00000090,
            -1px 1px 0 #00000090,
            1px 1px 0 #00000090;
    }
}