@if(showModal()){
<div class="chat-container">
    <div class="window" style="width: 600px">
        <div class="title-bar">
            <div class="title-bar-text">Chat Público</div>
            <div class="title-bar-controls">
                <button aria-label="Close" (click)="toggleModal()"></button>
            </div>
        </div>

        <div class="window-body chat-layout">
            <aside class="user-list">
                <p>Online</p>
                <ul>
                    @for (user of users(); track user) {
                    <li class="user-item cursor-pointer hover:bg-gray-200">
                        {{ user }}
                    </li>
                    } @empty {
                    <li class="text-xs opacity-50">Nenhum usuário online</li>
                    }
                </ul>
            </aside>

            <main class="w-full">
                <div class="chat-area">
                    <span>Global chat</span>
                    <div class="messages-display" #scrollContainer>
                        @for (msg of publicMessages(); track $index) {
                        <div class="message">
                            <strong>[{{msg.time}}] {{ msg.from }}:</strong> {{ msg.text }}
                        </div>
                        }
                    </div>

                    <div class="input-row button">
                        <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" class="w-full" />
                        <button (click)="sendMessage()">Enviar</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
}