@if (showModal()) {
<div class="chat-container">
    <div class="window" style="width: 600px">
        <div class="title-bar">
            <div class="title-bar-text">Chat Público</div>
            <div class="title-bar-controls">
                <button aria-label="Close" (click)="toggleModal()"></button>
            </div>
        </div>

        <div class="window-body chat-layout">
            <aside class="user-list">
                <p>Online</p>
                <ul>
                    @for (user of users(); track user) {
                    <li class="user-item">
                        <span class="status-dot"></span>
                        {{ user }}
                    </li>
                    } @empty {
                    <li class="opacity-50 text-xs">Nenhum usuário online</li>
                    }
                </ul>
            </aside>

            <main class="w-full">
                <div class="chat-area">
                    <div class="messages-display" #scrollContainer>
                        @for (msg of publicMessages(); track $index) {
                        <div class="message">
                            <strong>[{{ msg.time }}] {{ msg.from }}:</strong>
                            {{ msg.text }}
                        </div>
                        }
                    </div>

                    <div class="input-row">
                        <input type="text" [value]="newMessage()" (input)="newMessage.set($any($event.target).value)"
                            (keyup.enter)="sendMessage()" />
                        <button (click)="sendMessage()">Enviar</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
}