<section class="login">
    <h1 class="login-title">Login</h1>

    @if(username.invalid && username.touched) {
    <p class="error text-red-400 login-subtitle">
        Invalid username
    </p>
    } @else {
    <p class="login-subtitle">Type your name</p>
    }

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <input type="text" class="input" formControlName="username" placeholder="Username" />
            <button type="submit" class="button" aria-label="Submit login">
                →
            </button>
        </div>
    </form>
</section>